.buttoncomp {
    font-family: 'Open Sans', sans-serif;
    color: white;
    padding: 0.6rem 2rem;
    border-radius: 25px;
    transition: all .3s;
    cursor: pointer;
    letter-spacing: 1px;
    font-weight: 500;
}