.contactme {
    font-family: "Dosis", sans-serif;
    font-size: 1rem;
    display: flex;
    margin: 5rem 20rem;
    flex-direction: column;
}

.title {
    align-self: flex-start;
}

.nameemail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

input, textarea {
    font-family: "Dosis", sans-serif;
    font-size: 1rem;
}

::placeholder {
    color: black;
}

.neinputs {
    width: 46%;
    padding: 0.5rem 0.5rem;
}

.contactme > * {
    margin-bottom: 1rem;
}

textarea, .neinputs {
    border: 1px solid #ddd;
}

textarea {
    height: 15rem;
    padding: 0.5em 0.6em;
    background-color: white;
}