.navbar {
    position: sticky;
    transition: all .3s;
    background: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Dosis', sans-serif;
    padding-inline: 1rem;
    margin-top: 0.25rem;
}

.logo {
    width: 3.5rem;
}

.navbar-brand {
    display: flex;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    -webkit-align-items: center;
    align-items: center;
    margin-right: 0;
    padding: 0;
    transition: all .3s;
    word-break: break-word;
    z-index: 1;
    column-gap: 1rem;
}

.navbar-caption {
    line-height: inherit !important;
    font-size: 2rem;
    font-weight: 700;
    color: #c1c1c1;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.nav-link, .btn {
    text-decoration: none;
    padding-inline: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
    color: #c1c1c1;
}

.btn {
    padding: 0.5rem 2rem;
    background-color: #ffbc00;
    border-radius: 25px;
    color: white;
}

.navbar-nav {
    list-style-type: none;
    display: flex;
    padding-left: 0px;
}

.last-nav-item {
    text-align: center;
}

.collapse {
    display: flex;
    align-items: center;
}