.navbar {
    position: fixed;
    top: 0px;
    transition: all .3s;
    background: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Dosis', sans-serif;
    width: 100%;
    padding: 0.45rem 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 999;
}

.navbar-brand {
    display: flex;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    -webkit-align-items: center;
    align-items: center;
    margin-right: 0;
    padding: 0;
    transition: all .3s;
    word-break: break-word;
    z-index: 1;
    column-gap: 1rem;
    margin-left: 1rem;
}

.navbar-caption {
    font-family: 'Dosis', sans-serif;
    line-height: inherit !important;
    font-size: 2rem;
    font-weight: 700;
    color: #c1c1c1;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

ul {
    list-style-type: none;
}

.nav-link, .btn {
    text-decoration: none;
    padding-inline: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
}

.btn {
    padding: 0.6rem 2rem;
    background-color: #ffbc00;
    border-radius: 25px;
    color: white;
    font-weight: 500;
}

.navbar-nav {
    list-style-type: none;
    display: flex;
    padding-left: 0px;
    margin-right: 1rem;
    letter-spacing: 2px;
    align-items: center;
    margin: 0.5rem 1rem;
    margin-left: 0px;
}

.last-nav-item {
    text-align: center;
}

.collapse {
    display: flex;
    align-items: center;
}