section {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.cid-rzMrgNeUFf .navbar-dropdown {
    padding: .5rem 1rem;
    position: fixed;
}
@media (max-width: 349px) {
    .cid-rzMrgNeUFf .navbar-dropdown {
        padding: .5rem 0.75rem;
    }
    .logo {
        width: 15vw !important;
    }
}
.cid-rzMrgNeUFf .navbar {
    min-height: 77px;
    transition: all .3s;
    background: none;
}
.navbar-dropdown.navbar-fixed-top {
    position: fixed;
}
.cid-rzMrgNeUFf .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
}
.cid-rzMrgNeUFf .nav-dropdown .link {
    margin: 1.667em 1.667em;
}
.navbar {
    display: flex;
    -webkit-align-items: center;
    -webkit-justify-content: space-between;
    align-items: center;
    justify-content: space-between !important;
    font-family: 'Dosis', sans-serif;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    flex-wrap: wrap;
}
.cid-rzMrgNeUFf .navbar.navbar-short {
    min-height: 60px;
}
.navbar-dropdown {
    left: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.45s ease;
    z-index: 1030;
    background: #282828;
}

.cid-rzMrgNeUFf .navbar-brand {
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    -webkit-align-items: center;
    align-items: center;
    margin-right: 0;
    padding: 0;
    transition: all .3s;
    word-break: break-word;
    z-index: 1;
}

.menu .navbar-brand {
    display: -webkit-flex;
}
.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.cid-rzMrgNeUFf .navbar .navbar-collapse {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    z-index: 1;
}
.collapse:not(.show) {
    display: none;
}
.navbar-collapse {
    -webkit-flex-basis: 100%;
    -webkit-flex-grow: 1;
    -webkit-align-items: center;
}
.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
}
.navbar-caption {
    font-family: 'Dosis', sans-serif;
    line-height: inherit !important;
    font-size: 2rem;
    font-weight: 700;
    color: #c1c1c1;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    border: none;
    margin-left: 0.5rem;
}
.drawerbutton {
    background-color: transparent;
    border: none;
    color: #c1c1c1;
    font-size: 3rem;
    padding: 0 0;
    display: flex;
}
.logo {
    transition: all .3s;
}

ul {
    list-style-type: none;
}

.nav-link, .btn {
    text-decoration: none;
    cursor: pointer;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    border-radius: 100px;
}
.btn-primary, .btn-primary:active, .btn-primary.active {
    background-color: #ffbc00 !important;
    border-color: #ffbc00 !important;
    color: #ffffff !important;
}
.btn-md {
    padding: 0.8rem 2rem !important;
    font-weight: 600 !important;
    letter-spacing: 2px;
    margin: .4rem .8rem !important;
    transition: all .3s ease-in-out;
}
.display-4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
    padding: 0.667em 1.667em;
}
.btn {
    font-weight: 500;
}
.btn {
    border-width: 2px;
    font-style: normal;
    white-space: normal;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    word-break: break-word;
}
.navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.last-nav-item {
    text-align: center;
}
.nav-item {
    list-style-type: none;
    margin: auto;
}
.link {
    font-weight: 500;
    padding: 0;
    font-size: 1rem;
    transition: color .2s ease-in-out;
    letter-spacing: 2px;
}
.cid-rzMrgNeUFf ul.navbar-nav {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}
.nav-dropdown {
    font-size: 0.75rem;
    font-weight: 500;
    height: auto !important;
}
#contactmebutton {
    text-align: center;
    margin-left: 0rem;
    margin-right: 0rem;
    cursor: pointer;
    border-radius: 100px;
}
.section-btn {
    margin-left: -.25rem;
    margin-right: -.25rem;
}
.cid-rzMrgNeUFf a.nav-link {
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    outline: none;
    letter-spacing: 2px;
}
.nav-dropdown .link {
    padding: .667em 1.667em !important;
    margin: 0 !important;
    font-weight: 500;
    transition: color .2s ease-in-out;
}
.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}
ul, ol, pre, blockquote {
    margin-bottom: 2.3125rem;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

@media (min-width: 992px) {
    .navbar-expand-lg {
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .navbar-expand-lg .navbar-collapse {
        display: -ms-flexbox !important;
        display: flex;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
    .menu .navbar-nav.nav-dropdown {
        display: -webkit-flex;
    }
    .navbar-expand-lg .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }
}
@media (max-width: 1140px) {
    .navbar-expand-lg > .collapse {
        display: none;
    }
}
@media (min-width: 1140px) {
    .drawerbutton {
        display: none;
    }
}
@media (max-width: 768px) {
    .navbar-caption {
        font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
        line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
    }
}
.nav-link.link.text-warning.display-4:hover {
    color: #ffbc00 !important;
}