#my-work {
    font-family: "Dosis", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 10vh 0px;
    min-height: 80vh;
}
#my-work > :nth-child(1) {
    font-size: 2rem;
    font-weight: 300;
}
#my-work > :nth-child(1) > span{
    border-bottom: 2px solid #ffbc00;
    padding-bottom: 0.5rem;
}
#my-work > :nth-child(2) {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    max-width: 90%;
    justify-content: center;
    flex-wrap: wrap;
}
.my-work-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    width: 29%;
}
@media (max-width: 768px) {
    #my-work > :nth-child(2) {
        flex-direction: column;
        max-width: 100vw;
        align-items: center;
        flex-wrap: wrap;
    }
    .my-work-item {
        max-width: 100%;
        width: auto;
        max-width: 75%;
        margin-block: 1rem;
    }
}
.my-work-item > :first-child {
    /* height: 15rem; */
    width: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.my-work-item > :nth-child(3) {
    width: 5rem;
    border-bottom: 2px solid #ffbc00;
}
.my-work-item-title {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 700;
    margin: 0.25rem 0;
}
.my-work-item-description {
    text-align: center;
    margin: 1rem 0;
    list-style-type: disc;
    padding-left: 1rem;
}
.my-work-item-description > li {
    text-align: left;
    padding-left: 1rem;
    margin-block: 1vh;
}
.my-work-item-description > li::marker {
    content: "→";
    color: orange;
}
.my-work-item > div > img {
    height: auto;
    border-radius: 10px;
    width: 50%;
}