.topblock {
    background-color: black;
    height: 100vh;
    padding-top: 0.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cid-rzMt37x8iA {
    background-color: #000000;
}
.fullscreen {
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    min-height: 88vh;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.topblock__content {
    font-weight: 400;
    font-family: 'Dosis', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10rem;
    font-size: 3.5rem;
    font-weight: 400;
}

.topblock__content p {
    margin: 0.5rem 0;
}

.tbtitle {
    font-weight: 700;
    margin-top: 0px;
}

.tbdesc {
    font-weight: 300;
    color: white;
}

.tbcaption {
    font-size: 1.4rem;
    margin-top: 0px;
    margin-bottom: 1rem;
}

#abbuttondiv {
    padding-top: 1rem;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.white {
    color: #ffffff;
}
.col-md-12 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    text-align: initial;
}
.cid-rzMt37x8iA .section-title {
    text-align: left;
}
.display-1-top {
    font-family: 'Dosis', sans-serif;
    font-size: 3.5rem;
}
.section-title {
    font-style: normal;
    line-height: 1.2 !important;
}
.bold {
    font-weight: 700 !important;
}
.cid-rzMt37x8iA .text, .cid-rzMt37x8iA .typed-text, .cid-rzMt37x8iA .section-text {
    letter-spacing: 0.03rem;
}
.typed-cursor {
    color: #ffbc00;
}
.pt-3, .py-3 {
    padding-top: 1rem !important;
}
.cid-rzMt37x8iA .btn {
    margin-left: 4px !important;
}
.cid-rzMt37x8iA .animated-element {
    color: #ffbc00;
}
section, .container, .container-fluid {
    position: relative;
    word-wrap: break-word;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .display-1-top, .display-2, .display-3, .display-4 {
    line-height: 1;
    word-break: break-word;
    word-wrap: break-word;
}
.display-1-top {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
}
#midspanbr {
    display: block;
}
@media (max-width: 768px) {
    .display-1-top {
        font-size: calc( 1.875rem + (3.5 - 1.875) * ((100vw - 20rem) / (48 - 20)));
        line-height: calc( 1.4 * (1.875rem + (3.5 - 1.875) * ((100vw - 20rem) / (48 - 20)))) !important;
    }
}
@media (min-width: 576px) {
    .container, .container-sm {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container, .container-md, .container-sm {
        max-width: 720px;
    }
    .col-md-12 {
        /* -ms-flex: 0 0 100%;
        flex: 0 0 100%; */
        max-width: 100%;
    }
}
@media (min-width: 992px) {
    .container, .container-lg, .container-md, .container-sm {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1140px !important;
    }
    #midspanbr {
        display: none;
    }
}