.topblock {
    background-color: black;
    height: 100vh;
    padding-top: 0.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.topblock__content {
    font-weight: 400;
    font-family: 'Dosis', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10rem;
    font-size: 3.5rem;
    font-weight: 400;
}

.topblock__content p {
    margin: 1rem 0;
}

.tbtitle {
    font-weight: 700;
}

.tbdesc {
    font-weight: 300;
    color: white;
}

.tbcaption {
    font-size: 1.4rem;
}